button {
  height: 50px;
  width: 80px;
  border-radius: 5px !important;
  border: 0;
  background-color: red;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  position: relative;
  left: 74%;
}
